// Bootstrap
@import "~bootstrap/scss/functions";
@import "variables";
@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

.responsive-square {
  position: relative;
  width: 100%;

  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}
